@model Lanche
<div class="col-sm-4 col-md-4 col-lg-4">
    <div>
        <p><img src="@Model.ImagemUrl" class="img-fluid" /></p>
        <h4>@Model.Nome</h4>
        <h3>Preço: @Model.Preco.ToString("c")</h3>
        <p>@Model.DescricaoCurta</p>
        <a class="btn btn-lg btn-primary" asp-controller="Lanches" asp-action="Lanche" asp-route-id="@Model.LancheId" role="button" >Detalhes</a>
    </div>
</div>